body{
    background-color: blue;
    margin: 5em;
}
h1{
    color: rgb(35, 94, 182);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h2{
    color: aliceblue;
    padding: 5% 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
h3{
    color: honeydew;
    background-color: rgb(2, 219, 190);
    border: 5mm ridge rgba(170, 50, 220, .6);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
}
h4{
    color: aliceblue;
    position: absolute;
    top: 300px; left: 1400px;
    border: 10mm ridge rgba(218, 88, 218, 0.6);
    font-family: Courier New, monospace;
}
h5{
    color: rgb(24, 81, 131);
    position: absolute;
    top: 700px; left: 650px;
    border: 10mm ridge rgba(88, 140, 218, 0.6);
}
p{
    background-color: rgb(177, 200, 236);
    border: 10mm ridge rgba(88, 140, 218, 0.6); 
    padding: 10px 800px 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}