body {
    font-family: 'Gorditas', cursive;
    text-align: center;
    background-image: url("pokemon.png");
    /* background-color: #000000; */
    padding: 3vw;
}
.flexbox-container{
    display: flex;
    justify-content: center;
    position: relative;
    top: -100px;
    text-align: center;
    align-items: center;
}
.flexbox-item{
    display: flex;
    width: 50px;
    height: 50px;
    margin: 10px;
    border: 3px solid rgb(241, 180, 87);
    border-radius: 1ch;
    background-color: #f3ff49;
    align-items: center;
    justify-content: center;
}

.button-container1{
    display: flex;
    justify-content: center;
    position: relative;
    top: -50px;
    text-align: center;
    align-items: center;
}

.button-container2{
    display: flex;
    justify-content: center;
    position: relative;
    top: -50px;
    text-align: center;
    align-items: center;
}

.button-container3{
    display: flex;
    justify-content: center;
    position: relative;
    top: -50px;
    text-align: center;
    align-items: center;
}
.button{
    font-family: 'Gorditas', cursive;
    width: 55px;
    height: 55px;
    margin: 10px;
    border: 3px solid rgb(241, 180, 87);
    border-radius: 1.5ch;
    background-color: #f3ff49;
}
#Backspace {
    position: relative;
    top: -275px;
    left: 1300px;
    width: 100px;
}
.Backspace {
    width: 100px;
}

#Enter {
    position: relative;
    top: -275px;
    left: 1250px;
    width: 100px;
}
.Enter {
    width: 100px;
}

.sparkle {
    position:absolute;
    top: 0px;
    left: 450px;
    display: none;
}

.sparkle img {
    width: 1000px;
    height: 1000px;
}

.wrong {
    position: absolute;
    top: 300px;
    left: calc(50% - 200px);
    display: none;
}

.right {
    position: absolute;
    top: 200px;
    left: calc(50% - 200px);
    display: none;
}

#nextLevel{
    position: absolute;
    top: 785px;
    left: calc(50% + 300px);
}

.nextLevel {
    width: 100px;
    background-color: rgb(223, 158, 248);
    border-color: rgb(0, 0, 0);
    display: none;
}

.nextLevel:hover {
    background-color: rgb(161, 90, 189);
}

.button:hover {
    background-color: rgb(241, 180, 87);
}
   
#picturebox {
    box-sizing: content-box;
    background-color: rgb(236, 202, 113);
    border: 5px solid black;
    padding: 6vh;
    margin-top: 1vh;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

   
h1 {
    font-size: 100px;
    /* background-color: #faffb5; */
    -webkit-text-stroke: 1px black;
   color: rgb(255, 253, 159);
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;

}
h2 {
    font-size: 150px;
    padding: 0;
    position: relative;
    top: -50px;
}

.bg {
    background-color: white;
}
h3 {
    font-size: 40px;
    -webkit-text-stroke: 1px black;
    color: rgb(161, 210, 255);
    text-shadow:
        3px 3px 0 #000,
      -1px -1px 0 #000,  
       1px -1px 0 #000,
       -1px 1px 0 #000,
        1px 1px 0 #000;
}  
#target {
    background-color: yellow;
}
   
   #target:hover {
    background-color: blue;
}

#startbutton {
    display:inline-block;
    padding: 0.30cm 1.7cm;
    border:0.05cm solid sandybrown;
    margin:0 0.3cm 0.3cm 0;
    border-radius:0.3cm;
    box-sizing: border-box;
    font-size: 19px;
    font-family: 'Gorditas', cursive;
    font-weight:300;
    color:sandybrown;
    text-align:center;
    display:block;
    margin:0.4cm auto;
    background-color: white;
}
#startbutton:hover{
    color:#f5cd55;
    background-color:#000000;}
a{text-decoration:none;}